body, html {
  height: 100%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.hero {
  /*Sizing*/
  width: 100vw;
  height: 100vh;

  /*Positioning*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:  #8fa686;
}

.textbox {
  width: 30vw;
}

.hero h1 {
  font-family: 'Comfortaa', cursive;
}

.container {
  justify-content: center;
  align-items: center;
}

button {
  text-align: center;
  padding: 10px;
  border-radius: 20%;
  background-color: rgba(143, 166, 134, .5);
/*   opacity: 50%; */
  color: #f7f3ed;
}

button:hover {
  background-color:  #8fa686;
  opacity: 100%;
  color: #f7f3ed;
}



