body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.big-box {
  /*Sizing*/
  width: 100vw;
  height: 100vh;

  /*Positioning*/
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:   #f7f3ed;;
}

.big-box h1 {
  font-family: 'Comfortaa', cursive;
}

button {
  padding: 10px;
  border-radius: 20%;
  background-color: rgba(143, 166, 134, .5);
/*   opacity: 50%; */
}

button:hover {
  background-color:  #8fa686;
  opacity: 100%;
  color: #f7f3ed;
}

.textbox {
  padding: 10px;
  font-style: 'Comfortaa', cursive;
  font-weight: bold;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  width: 100vw;
  padding: 30px;
  background-color:  #f7f3ed;
}



